.bg-color{
    background-color:#FFFBF0;
}
span{
    color:#FABE4C;
}
.font{
    font-size:50px;
}
.panda-card{
    border:0;
}
.panda-card-footer{
    border:0;
    background-color:white;
}
.bg-style{
    background-color:#99B235;
    color:white;
}
